<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
    <link rel="stylesheet" href="../styles/about.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <meta charset="utf-8">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <div id="fb-root"></div>
   <script>(function(d, s, id) {
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) return;
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));</script>
 </head>

    <title>About</title>
  <body>

    <!-- Left aligned menu below button. This is a menubutton that works -->
<!-- <button id="demo-menu-lower-left"
        class="mdl-button mdl-js-button mdl-button--icon">
  <i class="material-icons">more_vert</i>
</button>
<ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
    for="demo-menu-lower-left">
  <li class="mdl-menu__item"><a id="menu_item" href="/">Home</a></li>
  <li class="mdl-menu__item mdl-menu__item--full-bleed-divider"><a id="menu_item" href="/prefs">Preferences</a></li>
  <li class="mdl-menu__item"><a id="menu_item" href="/abt">About</a></li>
</ul> -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header mdl-layout--fixed-tabs">
  <div class="textBoxes">
  <!-- <div id="div1"></div>
    <h1 align="center"><b>About Us</b></h1>
  <div class="textBoxes"  > -->
    <h1   class="div" align="center"><b>About</b></h1>
  <p>
          SMRITI is a fast and simple way to buy and sell textbooks. To buy a
          textbook, simply put in the ISBN of the book you're looking for. You'll
          then be given a list of books uploaded to SMRITI, as well as listings
          of used books from eBay and Amazon. If you're selling, simply give us
          some information about your textbook, and you'll be up on our website!
          You can see your active entries and what you've sold on your profile
          page. There, you can mark what items you've sold, or remove listings
          if you'd like. </p>
  <br>
  <p>
          The word "smriti" comes from Sanskrit, roughly meaning "knowledge imparted
          through writing." SMRITI's mission is to help you gain this knowledge,
          by making the process of finding and selling textbooks seamless.</p>

  <!-- <div id="div2">
    <h1 align="center"><b>History of Smash Brothers</b></h1>
  </div> -->

  <h1   class="div" ><b>About the Creators</b></h1>
  <p>
          SMRITI is a creation of Emma Barron, Anthony Fiddes, Shruthi Santhanam,
          and Tyler Williams. We created this webapp during HackGT 2018. Click any
          of the links on the footer to go to our LinkedIns. We'd love to start
          a conversation!
  </p>

  <br>
  </div>
  <!-- <div id="div3">
  <h1 align="center"><b>Character List</b> </h1>
  </div> -->



<footer class="mdl-mini-footer" style="align: center" >
  <div class="mdl-mini-footer__left-section">
    <div class="mdl-logo">Meet the Creators:</div>
    <ul class="mdl-mini-footer__link-list">
      <li><a href="https://www.linkedin.com/in/shruthi-santhanam">Shruthi's LinkedIn</a></li>
      <li><a href="https://www.linkedin.com/in/n-zinga-thecomputerscientist">N'Zinga's LinkedIn</a></li>
      <li><a href="https://www.linkedin.com/in/georgiana-wright">Georgiana's LinkedIn</a></li>
      <div class="fb-share-button" data-href="/prefs"
    data-layout="button_count">
  </div>
    </ul>
  </div>
</footer>
</div>
    <!-- <i class="material-icons">event</i> -->

<!--  HEAD
    // Settings that can be overriden on per-element basis, by `data-aos-*` attributes:
    offset: 120, // offset (in px) from the original trigger point
    delay: 0, // values from 0 to 3000, with step 50ms
    duration: 400, // values from 0 to 3000, with step 50ms
    easing: 'ease', // default easing for AOS animations
    once: true, // whether animation should happen only once - while scrolling down
    mirror: false, // whether elements should animate out while scrolling past them
    anchorPlacement: 'center-bottom', // defines which position of the element regarding to window should trigger the animation
    }); -->


  <script src="../scripts/about.js"></script>
  </body>
  </html>
