<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Login Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
  <link rel="stylesheet" href="../style/login.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
  <p>{{logout}}</p>
  <form method="post">
    <input type="text" placeholder="First Name" id="first_name">
    <input type="text" placeholder="Last Name" id="last_name">
    <button type="submit">Submit</button>
  </form>

</body>
</html>
