<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
  <link rel="stylesheet" href="../styles/main.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel ="stylesheet" href="styles/main.css">
</head>
<body>

    <main class="mdl-layout__content">
        <div class="start">
          <h1 class="starttext" id="welcome">SMRITI</h1>
          <form>
            <input type="number" name="isbn" placeholder="Type in the ISBN of a book" id="isbn"><br>
          </form>
          <!-- Something is wrong with this button... it doesn't take you to the right place -->
          <form action="/results">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="buy">I'm buying!</button><br>
          </form>
          <form action="/sell">
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" name="sell">I'm selling!</button>
          </form>

      </div>
    </main>
  </div>

</div>





<!-- <form action = "/prefs">
<button>Change your preferences!</button>
</form> -->

<!-- <form action = "/prefs">
<button>Change your preferences!</button>
</form> -->

<!-- <form action = "/prefs">
<button>Change your preferences!</button>
</form> -->
</body>
</html>
