<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
    <link rel="stylesheet" href="../styles/profile.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <meta charset="utf-8">
    <title>Profile</title>
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs">
            <div id="welcome">
              <h1 align="center" id="profile"> Welcome to your profile page! </h1>
            </div>

            <h3 align="center" id="line3">{{user.first_name}} {{user.last_name}}</h3>
            <h3 align="center" id="saved">Your Listings:</h3>
            <div id='prefs' >

  {% for book in books %}
  <div class="myPrefs">
    <img id="charimage" src="{{book.image_model}}">
    <p class="chartext" id="charline1"><b><i>{{book.title}}</i></b></p>
      <p class="chartext" id="price"><b>${{book.price}}</b></p>
    <p class="chartext" id="charline2"><b>Condition:</b> {{book.condition}}</p>
  </div>
  {% endfor %}
</div>

</div>

    <!-- <i class="material-icons">event</i> -->
  </body>
</html>
