<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
  <link rel="stylesheet" href="../styles/sell.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel ="stylesheet" href="styles/sell.css">
</head>
<body>
<!--   Form
    The ISBN will have been gotten from main, and the API call already made. So now we auto-populate
    the following fields. -->
    <div class = "start">
    <form action = "/sell">
      <div class="input">
        <br>
        <p id="words">Please enter the following fields:</p>
        <input type="text" name="isbn" placeholder="ISBN" id="isbn"><br>
        <br>
        <input id="title" placeholder="Title"><br>
        <br>
        <input id="author" placeholder="Author"><br>
        <br>
        <input id="edition" placeholder="Edition"><br>
        <br>
        <input id="price" placeholder="Price"><br>
        <br>
        <p id="words2">Condition:</p>
        <select  name="skill" id="lastwords">
          <option   value="5">Like new</option>
          <option   value="4">Very good</option>
          <option   value="3">Good</option>
          <option   value="2">Fair</option>
          <option   value="1">Poor</option>
        </select>
      </div>
    </form>

    <!-- I commented out the django 'if' statements
    I'm not sure if we need them -->
    <!-- {% if image_profile is defined %} -->
      <!-- {% endif %} -->
      <form action="/img" enctype="multipart/form-data" method="post">
        <br>
        <p id="morewords">Please upload a picture of your textbook.</p>
        <input id="picture" name="image" type="file" accept="image/*" ><input type="submit" value="Upload">
      </form>
    </div>

</body>
</html>

<!-- The form to get an image uploaded
It's not integrated with main.py yet
But hopefully it will be soon! -->

      <!-- {% if image_profile is defined %}
      <img src={{image_profile}} />
      {% endif %}
      <form action="/img" enctype="multipart/form-data" method="post">
        <h3>Profile Picture</h3>
        <input id="picture" name="image" type="file" accept="image/*" >
        <input type="submit" value="upload">
      </form> -->
