
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="UTF-8">
  <title>Home Page</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-pink.min.css" />
  <link rel="stylesheet" href="../styles/sell.css">
  <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  <link rel ="stylesheet" href="styles/sell.css">
</head>
<body>
<!--   Form
    The ISBN will have been gotten from main, and the API call already made. So now we auto-populate
    the following fields. -->

    <form>
      <!-- While we could just not take in these fields...
      We can either have these just for show... or use this html
      to send the info between pages, in a sense -->
      <input id="isbn" > ISBN
      <input id="title" > Title
      <input id="author" > Author
      <input id="edition"> Edition
      <!-- Should be a drop-down, where it returns numbers depending on what is given -->
      <input id="condition"> Condition
      <input id="price"> Price
    </form>

    <!-- I commented out the django 'if' statements
    I'm not sure if we need them -->
    <!-- {% if image_profile is defined %} -->
      <img src={{image_profile}} />
      <!-- {% endif %} -->
      <form action="/img" enctype="multipart/form-data" method="post">
        <h3>Profile Picture</h3>
        <input id="picture" name="image" type="file" accept="image/*" >
        <input type="submit" value="upload">
      </form>

</body>
</html>

<!-- The form to get an image uploaded
It's not integrated with main.py yet
But hopefully it will be soon! -->

<!-- <h2 id="forms_header"> tell us about yourself.</h2> -->
<br>
      <!-- {% if image_profile is defined %}
      <img src={{image_profile}} />
      {% endif %}
      <form action="/img" enctype="multipart/form-data" method="post">
        <h3>Profile Picture</h3>
        <input id="picture" name="image" type="file" accept="image/*" >
        <input type="submit" value="upload">
      </form> -->
