/* html {
  background:  url(/images/smashbrosstart.gif) no-repeat center center fixed;
  background-size: cover;
} */
/* body {
    background-image:url('../images/smashbrosstart.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
    /* display: flex;
} */
i {
  color: white;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.start{
  position: relative;
  margin-top: 10%;
  margin-bottom: auto;
  top: 50%;
  left: 25%;
  height:auto;
  width:50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: space-around;
  background-color: white;
  padding: 20px;
  border-color: #333;
  overflow: auto;
  opacity: 0.75;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
.starttext{
  color: white;
  opacity: 1.0
}
#welcome{
  text-align: center;
}

#isbn {
  order: 1;
  border-color: #ff5a60;
  background-color: white;
  color: #ff5a60;
  font-size: 20px;
}

::placeholder {
  color: #ff5a60;
  font-size: 20px;
  opacity: 0.5;
}
div.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: black;
}
.mdl-mini-footer{
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-around;
  font-size: 18px;
}

/* div.mdl-layout__drawer{
  background-color: black;
} */
