 html {
  background color: #ededed;
  align-content: center;
  min-height: 100%;
  margin: auto;

  background-color: #ededed;
  padding: 20px;
  border-color: #333;
  opacity: 0.75;
}
 /* body {
    background-image:url('../images/smashbrosstart.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100%;
    width:100%;
  } */
    /* display: flex;
} */
i {
  color: white;
  background-color: white;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.start{
  display: block;
  align-content: center;
  min-height: 100%;
  margin: auto;
  text-align: center;
  background-color: #ededed;
  padding: 20px;
  border-color: #333;
  opacity: 0.75;
}
.mdl-layout__content {
    background-color: white;
    border-color: #333;
    align-self: center;
}

.starttext{
  color: white;
  opacity: 1.0
}
#welcome{
  text-align: center;
}

#isbn {
  order: 1;
  border-color: #ff5a60;
  background-color: white;
  color: #ff5a60;
  font-size: 20px;
}

::placeholder {
  color: #ff5a60;
  font-size: 20px;
  opacity: 0.5;
}
div.mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
  background-color: black;
}
.mdl-mini-footer{
  width: 100%;
  padding-right: 8px;
  padding-left: 8px;
  justify-content: space-around;
  font-size: 18px;
}

/* div.mdl-layout__drawer{
  background-color: black;
} */
